<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ID</th>
      <th>Month</th>
      <th>Temp</th>
      <th>Year</th>
      <th>NAME</th>
      <th>LATITUDE</th>
      <th>LONGITUDE</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>IN001020700</td>
      <td>1</td>
      <td>23.48</td>
      <td>1980</td>
      <td>PBO_ANANTAPUR</td>
      <td>14.583</td>
      <td>77.633</td>
      <td>India</td>
    </tr>
    <tr>
      <th>1</th>
      <td>IN001020700</td>
      <td>1</td>
      <td>24.57</td>
      <td>1981</td>
      <td>PBO_ANANTAPUR</td>
      <td>14.583</td>
      <td>77.633</td>
      <td>India</td>
    </tr>
    <tr>
      <th>2</th>
      <td>IN001020700</td>
      <td>1</td>
      <td>24.19</td>
      <td>1982</td>
      <td>PBO_ANANTAPUR</td>
      <td>14.583</td>
      <td>77.633</td>
      <td>India</td>
    </tr>
    <tr>
      <th>3</th>
      <td>IN001020700</td>
      <td>1</td>
      <td>23.51</td>
      <td>1983</td>
      <td>PBO_ANANTAPUR</td>
      <td>14.583</td>
      <td>77.633</td>
      <td>India</td>
    </tr>
    <tr>
      <th>4</th>
      <td>IN001020700</td>
      <td>1</td>
      <td>24.81</td>
      <td>1984</td>
      <td>PBO_ANANTAPUR</td>
      <td>14.583</td>
      <td>77.633</td>
      <td>India</td>
    </tr>
  </tbody>
</table>